@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
h1 {
  text-align: center;
}

h3,
h2,
h5 {
  letter-spacing: 0.1rem;
  color: darkslategray;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: Roboto;
}

span {
  font-size: 16px !important;
  font-weight: 400 !important ;
  letter-spacing: 0.1rem;
}

.MyItem {
  box-shadow: 0 0 1px 1px gray;
  border-radius: 2px;
  margin-bottom: 5px;
}

.MyItem:hover {
  opacity: 0.85;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#root {
  height: 100%;
}

.Map {
  height: 100%;
}

.tooltip {
  background-color: rgb(100, 100, 100);
}
.MyPopup {
  cursor: pointer;
}

.DELETE_BTN {
  color: crimson;
}

.LIST_ITEM_HEAD {
  color: aquamarine;
}

.MyCard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #dfe3e6 !important;
  width: 23vw !important;
  height: 100vh !important;
  overflow-y: scroll !important;
}

.MyCard::-webkit-scrollbar {
  width: 0;
}

.MyCard::-webkit-scrollbar-track {
  width: 1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.MyCard::-webkit-scrollbar-thumb {
  background-color: rgb(75, 114, 213);
  border-radius: 10px;
}

.inputContainer {
  position: fixed;
  z-index: 1000;
  top: 2vh;
  left: 25vw;
  padding: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px 0 #828286;
  overflow-y: auto;
}

.searchBox {
  width: 40vw;
  height: 5vh;
  outline: none;
  border: none;
}

.searchBox::-webkit-search-cancel-button {
  display: none;
}

.searchBox::placeholder {
  font-size: 16px;
  font-family: sans-serif;
}

.result-list {
  max-height: 65vh;
  width: 40vw;
  overflow-y: scroll !important;
  cursor: pointer;
}

.result-list::-webkit-scrollbar {
  width: 0;
}

.list-item {
  padding: 5px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  border-bottom: 1px solid grey;
}

.Note-container {
  display: flex;
  justify-content: space-between;
}

.leaflet-control-zoom-in {
  position: fixed;
  right: 2%;
  top: 2%;
}

.leaflet-control-zoom-out {
  position: fixed;
  right: 2%;
  top: 8%;
}

/* 










*/

@keyframes fade {
  from {
    opacity: 0.75;
  }
}
@keyframes bigger {
  from {
    transform: scaleY(0.99);
  }
}

.leaflet-marker-pane {
  animation: fade 1s infinite alternate, bigger 1s infinite alternate;
}

@media only screen and (max-width: 375px) {
  .inputContainer {
    top: 2vh;
    left: 5vh;
  }
  .searchBox {
    width: 70vw;
  }

  .MyCard {
    top: 60vh;
    width: 100vw !important;
    height: 40vh !important;
    box-shadow: 4px 1px 9px 9px rgba(0, 0, 0, 0.2) !important;
  }
  .result-list {
    width: 70vw;
  }
}

.uni_name {
  margin: 1.5rem 1.5rem;
}
.update_fab {
  float: right;
}

/* 
.menubar {
  width: 100vw;
  height: 55px;
  background-color: blueviolet;
  box-shadow: -4px 2px 6px 3px gray;
} */
