@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lobster");
@import url("https://fonts.googleapis.com/css?family=Paytone+One");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.MuiTypography-root-52 {
  padding: 5px;
}

.MuiTypography-root-52:hover {
  opacity: 0.7;
}

h3,
h2,
h5 {
  letter-spacing: 0.1rem;
  color: darkslategray;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: Roboto;
}

span {
  font-size: 12px !important;
  font-family: "Paytone One", sans-serif !important;
  letter-spacing: 0.1rem;
}

.MyItem:hover {
  opacity: 0.85;
  background-color: rgba(0, 0, 0, 0.15);
}

#root {
  height: 100%;
}

.Map {
  height: 100%;
}

.tooltip {
  background-color: rgb(100, 100, 100);
}
.MyPopup {
  cursor: pointer;
}

.DELETE_BTN {
  color: crimson;
}

.LIST_ITEM_HEAD {
  color: aquamarine;
}

.MyCard {
  position: absolute;
  top: 20px;
  right: 2%;
  z-index: 1000;
  background-color: #dfe3e6 !important;
  width: 20vw !important;
  height: 90vh !important;
  overflow-y: scroll !important;
}

.MyCard::-webkit-scrollbar {
  width: 1em;
}

.MyCard::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.MyCard::-webkit-scrollbar-thumb {
  background-color: rgb(75, 114, 213);
  border-radius: 10px;
}

.inputContainer {
  position: fixed;
  z-index: 1000;
  top: 3vh;
  left: 5vw;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px 0 #828286;
  overflow-y: auto;
}

.searchBox {
  width: 20vw;
  height: 5vh;
  outline: none;
  border: none;
}

.searchBox::-webkit-search-cancel-button {
  position: absolute;
  left: 90%;
  font-size: 18px;
  background: red;
}

.searchBox::placeholder {
  font-size: 16px;
  font-family: sans-serif;
}

.result-list {
  margin-top: 10px;
  max-height: 65vh;
  width: 20vw;
  overflow-y: scroll !important;
}

.list-item {
  padding: 1px;
}

@keyframes fade {
  from {
    opacity: 0.75;
  }
}
@keyframes bigger {
  from {
    transform: scaleY(0.99);
  }
}

.leaflet-marker-pane {
  animation: fade 1s infinite alternate, bigger 1s infinite alternate;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .MyCard {
    width: 50vw !important;
    height: 30vh;
  }
}

.uni_name {
  margin: 1.5rem 1.5rem;
}
.update_fab {
  float: right;
}

/* 
.menubar {
  width: 100vw;
  height: 55px;
  background-color: blueviolet;
  box-shadow: -4px 2px 6px 3px gray;
} */
